@import '../shared-styles/core-variables-and-helpers';

.InputSelect {
    font-family: Roboto-Regular;

    &__category-name {
        font-weight: 600;
    }

    &__select-button{
        position: relative;
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: $grey;
        }
    }

    &__chevron {
        vertical-align: middle;
        height: 0.8em;
        width: 0.8em;
        margin-left: 0.6em;
    }

    &__select-text {
        margin: 0;
        padding: 0.3em;
    }

    &__dropdown-menu {
        position: absolute;
        z-index: 1000;
        list-style: none;
        background-color: $white;
        min-width: 8.5em;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        padding-inline-start: 0.5em;
        margin-top: 0.2em;


        &--close {
            display: none;
        }
        
    }

    &__category-list {
        margin: 0.4em;
        cursor: pointer;

        &:hover {
            background-color: $grey;
        }
    }
}