@import '../shared-styles/base/colors';

.ListJoke {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: $indianred;
    border-radius: 0.5em;
    margin-left: 0.7em;
    margin-bottom: 0.7em;
    width: 30em;
    font-family: Roboto-Regular;
    flex-grow: 1;
    justify-content: space-between;

    &__header {
        display: flex;
        order: 2;
    }

    &__category {
        margin-left: auto;
    }

    &__jokes {
        margin-bottom: 2.5em;
    }

    &__single-jokes {
        margin: 0;
    }

    &__twopart-jokes {
        display: flex;
        flex-direction: column;
    }

    &__twopart-setup {
        margin-bottom: 0.6em;
    }
}